/*
 * @Author: jcapagcuan
 * Custrom CSS for the Hotel web reservation.
*/

.body
{
    padding-top: 60px;
    padding-bottom: 40px;
    display: none;
}

.reservation_container .nav
{
    margin-bottom: 0px;
}

.reservation_container .tab-content
{
    padding: 18px 12px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-radius: 0px 0px 5px 5px;
}