@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="span1">
</div>
<div class="span10">
    <div class="tabbable reservation_container">
        <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs" id="steps">
            <li class="active"><a href="#dates" data-toggle="tab">Select dates</a></li>
            <li><a href="#room_rates" data-toggle="tab">Select rooms &amp; rates</a></li>
            <li><a href="#enhance_stay" data-toggle="tab">Enhance your stay</a></li>
            <li><a href="#guest_details" data-toggle="tab">Enter guest details</a></li>
            <li><a href="#confirm_booking" data-toggle="tab">Confirm booking</a></li>
        </ul>
        <div class="tab-content">
            <div class="summary well">
                <p>
                    This is a summary.</p>
            </div>
            <div class="alert alert-error" style="display: none;">
                Invalid action
            </div>
            <div class="tab-pane active" id="dates">
                <form class="form-horizontal" id="reservationForm">
                <div class="control-group">
                    <label class="control-label" for="datepickerArrival">
                        Arrival</label>
                    <div class="controls">
                        <input type="text" id="datepickerArrival" name="datepickerArrival" placeholder="Arrival">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="datepickerDeparture">
                        Departure</label>
                    <div class="controls">
                        <input type="text" id="datepickerDeparture" name="datepickerDeparture" placeholder="Departure">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        Number of Persons per Room
                    </label>
                    <div class="controls">
                        Adult:
                        <select class="span1" id="adultCount">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        Children:
                        <select class="span1" id="childCount">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <div class="row_fluid">
                        <label class="control-label" for="groupCode">
                            Group code</label>
                        <div class="controls">
                            <input type="text" id="groupCode" name="groupCode" placeholder="Group code">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="promoCode">
                        Corporate/Promo code</label>
                    <div class="controls">
                        <input type="text" id="promoCode" name="promoCode" placeholder="Corporate/Promo code">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="travelId">
                        Travel Industry ID</label>
                    <div class="controls">
                        <input type="text" id="travelId" name="travelId" placeholder="Travel Industry ID">
                    </div>
                </div>
                </form>
            </div>
        <div class="tab-pane" id="room_rates">
            <p>
                Select rooms &amp; rates</p>
        </div>
        <div class="tab-pane" id="enhance_stay">
            <p>
                Enhance your stay</p>
        </div>
        <div class="tab-pane" id="guest_details">
            <p>
                Enter guest details</p>
        </div>
        <div class="tab-pane" id="confirm_booking">
            <p>
                Enter guest details</p>
        </div>
        <div class="bottom_nav pull-right">
            <div class="btn-group">
                <button class="btn" id="back">
                    Back</button>
                <button class="btn" id="next">
                    Next</button>
            </div>
        </div>
    </div>
</div>
</div>
<div class="span1">
</div>
<!-- Modal -->
<div id="reservation_modal" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-body">
        <div class="span12 center">
            <div id="modal_text">
                <p>
                    Please wait....</p>
            </div>
        </div>
    </div>
</div>
